  .card {
    background-image: url("http://media.flashcardmachine.com/images/preview_card_back.gif");
    height: 130px;
    cursor:pointer
  }
  .row-red {
    background-color: #f00;
    height: 30px;
  }
  .row-yellow {
    background-color: yellow;
  }

  #timer {
    border: 4px solid green;
    border-radius: 50%;
    padding: 15px;
    width: 66px;
    margin-bottom: 20px;
    display: inline-block;
  }

  body {
    background-color: beige;
  }

  #current-score {
    padding-left: 10px;
    font-weight: bold;
  }

  #questions-asked {
    font-weight: bold;
  }

  .scoreboard header {
    font-weight: bold;
    background-color: yellow;
    border-bottom: 1px solid red;
    padding: 10px 0;
    text-align: center;
  }
  .scoreboard {
    border: 2px solid red;
    padding: 0;
  }

  #no-previous-results {
    text-align: center;
    padding-top: 10px;
  }